################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/school_OS_PAs/Process_and_Resources_manager/.vs/Process_and_Resources_manager/v15
